<div class="jumbotron">
  <div class="container">
    <div class="page-header">
      <h1>Blackjack <small>a Sinatra Webapp</small></h1>
    </div>
    <p>
      This is a Blackjack game that is played in the browser, developed as part of the Tealeaf Academy Introduction to Ruby and Web Development Course.
    </p>
    <p>
      Powered by the Sinatra web framework, Twitter Bootsrap, Compass, Bower &amp; Sass.
    </p>
    <p><a class="btn btn-primary btn-lg" href="/game/new" role="button">Play Blackjack</a></p>
  </div>
</div>
