<!-- <h1>Blackjack</h1> -->

<%= erb(:'game/_cards', :locals => { player: @dealer }) %>

<% if @dealer.playing? %>
<form class="form-inline" action="/game/action/dealer/hit" method="post">
    <button type="submit" class="btn btn-primary">See Dealer's next card</button>
</form>
<% end %>

<% if @dealer.standing? && @player.standing? %>
<form class="form-inline" action="/game/compare" method="post">
    <button type="submit" class="btn btn-primary">Compare Hands</button>
</form>
<% end %>

<% if @start_new_game %>
<form class="form-inline" action="/game/new" method="post">
    <button type="submit" class="btn btn-primary">Start New Game</button>
</form>
<% end %>


<%= erb(:'game/_cards', :locals => { player: @player }) %>

<% if @player.playing? %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @player.name %>, choose an action:</h3>
  </div>
  <div class="panel-body">
    <p>
      Total is <%= @player.hand_value %>
    </p>
    <form class="form-inline" action="/game/action/player/hit" method="post">
        <button type="submit" class="btn btn-success">Hit</button>
    </form>

    <form class="form-inline" action="/game/action/player/stay" method="post">
        <button type="submit" class="btn btn-warning">Stay</button>
    </form>
  </div>
</div>
<% end %>
